body {
    font-family: 'Poppins', sans-serif;
    color: #0F2674;
    background-image: url('../img/fondo2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    height: 100vh;
}

#menu {
    background-color: #0F2674;
    color: white;
}

#contacto {
    background-color: #0F2674;
    color: white;
}

.card1, .card2 {
    color: black;
}

.bgcolor {
    background-color: #0F2674;
}


.card-img-top{
    max-height: 45vh;
}